<div class="container">
    <p>{{'blog.welcome_title' | translate }}</p>
    <p>{{'blog.blog_count' | translate : { count: blogs.length } }}</p>
    <!-- <div class="row">
        @for (item of blogs; track $index; let index = $index) {
            <div class="col-md-6">
                <div class="card mb-4 border-0 shadow">
                    <button type="button" class="btn-close position-absolute top-0 end-0" aria-label="Close" (click)="remove(item.id)"></button>
                    <div class="card-img-top d-flex justify-content-center align-items-center bg-primary-subtle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#4e4e53" class="bi bi-images" viewBox="0 0 16 16">
                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title fw-bold">{{item.title}}</h6>
                        <p class="card-text fw-light">{{item.description}}</p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text">By {{item.author}}</p>
                            <p class="card-text">{{item.createdDate | date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div> -->
    <!-- use defer here to seperate load app-blog-item component -->
    @defer (when blogs.length > 0) {
        <div class="row">
            @for (item of blogs; track $index; let index = $index) {
                <div class="col-md-3">
                  <app-blog-item [item]="item" (remove)="remove($event)" />
                </div>
            }
        </div>
    }
</div>